div{
    font-style: initial;
    background-color: rgb(236, 145, 109);
    text-align: center;
    text-decoration: solid cornsilk;
    border: 5px solid red;
    padding: 20px;
    margin-bottom: 10px;
    

}